@charset "UTF-8";

* {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  background-color: white;
  width: 600px;
  margin: auto;
  padding: 10px;
  border-radius: 14px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

body {
  text-align: justify;
  background-image: linear-gradient(to right, #feffbe, #9ad2cb);
}

h1 {
  color: #4f3824;
  text-align: center;
  text-shadow: 2px 2px 2px #4f382460;

  /*
    font shorthand
  
    font-style -> font-weight -> font-size -> font-family
  */
  font:
    italic bolder 3em "Work sans",
    sans-serif;
}

h2 {
  color: #d1603d;
}
