@charset 'UTF-8';

body {
  background-color: rgba(127, 255, 212, 0.496);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: brown;
}

h2 {
  color: darkorange;
}

#principal {
  text-align: center;
  font-weight: bold;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.504);
  background-image: linear-gradient(
    to bottom,
    rgba(128, 128, 128, 0),
    rgba(0, 0, 0, 0.496)
  );
  width: max-content;
  margin: auto;
  padding: 10px;
  border-radius: 20px;
}

.title {
  text-align: center;
}
