@charset 'UTF-8';
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playwrite+IN+Guides&display=swap");
@font-face {
  font-family: "idroid";
  src: url(fontes/idroid.otf);
}

body {
  background-color: #84e1ad;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

header {
  background-image: linear-gradient(to bottom, #3dda84, #1a5c38);
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.505);
}

header > h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3em;
  font-weight: normal;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.504);
  padding: 30px 10px 0px 10px;
  margin: 0px;
}

header > p {
  color: white;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.504);
  margin: 16px;
  padding: 16px;
}

header > nav {
  padding: 10px;
}

header > nav > a {
  padding: 20px 10px 0px 10px;
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.504);
  font-weight: bold;
}

main {
  background-color: white;
  margin: auto;
  width: 75%;
  padding: 20px;
  text-indent: 16px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.504);
}

h1 {
  color: #1a5c38;
  font-family: "idroid";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.504);
}

h2 {
  margin: 0px;
  color: #1a5c38;
  font-family: "idroid";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.504);
  background-image: linear-gradient(to right, #3dda8492, white);
  padding: 2px;
}

p {
  padding: 20px 0px;
  margin: 0px;
  font-size: 16px;
  text-align: justify;
  line-height: 1.8em;
}

a {
  color: #1a5c38;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: #1fd571;
  transform: scale(1.1);
  text-decoration: underline;
}

.titulo {
  margin-top: 0px;
}

img {
  height: fit-content;
  width: 100%;
}

.videobg {
  background-color: #1a5c38;
  margin: auto;
  margin-left: -20px;
  margin-right: -20px;
}

.video {
  width: 88%;
  display: block;
  margin: auto;
  padding: 10px 0px;
}

.bugdroid {
  width: 50%;
  margin: auto;
  display: block;
}

ul {
  columns: 2;
}

.extra {
  background-color: #c5ebd6;
  border-radius: 8px;
  margin-top: 16px;
}

.extra > h2 {
  background-color: #3dda84;
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  border-radius: 8px 8px 0px 0px;
}

.extra > p {
  padding: 20px;
}

.extra > ul {
  padding-bottom: 10px;
}

footer {
  margin-top: 20px;
  background-color: #1a5c38;
  color: white;
  text-align: center;
}

footer > p {
  padding: 5px 0px;
  text-align: center;
}

footer > p > em > a {
  color: white;
  font-weight: bolder;
  text-decoration: none;
  transition: calc(0.3s);
}

footer > p > em > a:hover {
  color: #33e642;
  transform: scale(1.1);
  text-decoration: underline;
}
